
/**
  * Styles for the navigation
  */

.toolbar{
  border-bottom: 1px solid #fffefd;
}


/*
 * Styles for the side (main) navigation
 */
.sideNav{
  background: #3f51b5;
  color: white;
  border-right: 1px solid #fffefd;
}

.sideNav #title{
  margin: 0;
}

