
/**
  * Styles for the navigation
  */

.toolbar{
  border-bottom: 1px solid #fffefd;
}

.sideNav{
  background: #3f51b5;
  color: white;
  border-right: 1px solid #fffefd;
}

.sideNav #title{
  font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
  margin: 0;
}

.breadcrumpmenu{
  color: rgba(0,0,0,.54);
  background: rgba(0,0,0,.03);
  width: 100%;
}


